.header{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.902);
    z-index: 1;
}
/* Logo general */
.logo-inicio{
    height: 10vh;
    width: 13vw;
    background-image: url("../Recursos/images/navlogo.png");
    background-size: cover;
    background-position: center center;
}

.list-style{
    list-style-type: none;
    display: flex;
    width: 87vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family:'Poppins', sans-serif;
}
.list-style_ancle{
    text-decoration: none ;
    opacity: .25;
    color: white;
}

.list-style_ancle:hover{
    opacity: .5;
    color: white;
}

.actives{
    padding: 5px;
    color: white!important;
    text-decoration: none;
    opacity: .85 !important;
}

.navbar{
    height: 10vh;
}

.color{
    color: white !important;
    opacity: 0.35 !important;
}

.nav-link:hover {
    color: aliceblue!important;
    opacity: .5!important;
    border-radius: 7px;
}
@media (max-width: 400px){
    .logo-inicio{
        width: 40vw;
        height: 7vh;
    }
}